body {
    background-image: url("img/night-building.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}

.blurBox {
    backdrop-filter: blur(42px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    padding: 10px;
    margin-bottom: 15px;
}

.note {
    background-color: rgba(255, 225, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: groove;
    padding: 2px;
}

th, td {
  background-color: #96D4D4;
}